* {
  margin: 0;
  background-size:contain;
  bottom: 0;
  /* padding: 0; */
}

html {
  background-size: cover;
  height: 100%;
  /* width: 100%;
  bottom: 0; */
  }

body {
  background: linear-gradient(#e66465, #9198e5);
  background-size: cover;
  height: 100vh ;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.mainpage {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* text-align: center;
    align-content: center;
    justify-content: center; */
    font-family: 'DM Sans', sans-serif;
}

/* .dogPic {
  max-width: 90%;
} */

/* .login-signupbtn {
  margin-top: 100%;
} */

.apiImages {
  display: block;
  justify-content: center;
  /* max-height: 400px; */
  max-width: 300px;
  /* width: 50px; */
  /* height: 300px; */
  margin-left: 100px;
}

.logoutbtn {
  font-family: 'DM Sans', sans-serif;
  margin-top: 10%;
}

/* .savebtn {
 box-shadow: 0 0 20px rgba(0, 0, 0, 1);
 padding-top: -100px;
 margin-left: 25%;
 margin-right: 25%;
 text-align: center;
 border-radius: 10px;
 display: inline-flex;
} */

/* div.savebtn {
  padding-top: -200px;
} */

.settingspage {
  text-align: center;
  padding-top: 20%;
}

.settingspage div {
  padding-bottom: 1%;
}

.hide{
  display: none;
}

.modal-content {
  background: linear-gradient(#e66465, #9198e5);
}

h2 {
  color: white;
}

.nav-item:active, .nav-item:hover {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(70, 65, 65, 0.5);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

ul {
  display: inline-flex;
  justify-content: center;
  padding-left: 8%;
  padding-right: 5%;
  padding-top: 3%;
  list-style: none;
}

 img.headerlogo, img.circle {
  max-width: 20%;
}

img.card-img {
  border-radius: 10px;
}

.card-body {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 12px 1px;
}

.card-title.h5 {
  margin: 15px;
  border-style: outset;
  text-align: center;
  padding-top: 3%;
} 


p {
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 1rem;
}

/* img.heartpic, img.arrow {
  max-width: 30%;
} */

img.logopic {
  margin-top: 10%;
}

li {
  text-align: right;
  padding-top: 3%;
}

.container {
  padding-top: 8%;
}


button.arrowbtn.btn.btn-primary:visited {
 border: none;
 border-color: #fff;
}

button:active {
  border: transparent;
}

button.heartbtn.btn.btn-primary {
  margin-right: 20%;
  /* padding-right: 20%; */
  align-items: center;
  justify-content: center;
}


button.arrowbtn.btn.btn-primary {
  margin-right: 20%;
  /* padding-right: 20%; */
  align-items: center;
  justify-content: center;
}

button.arrowbtn, button.heartbtn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  /* padding-top: -100px; */
 /* margin-left: 25%;
  margin-right: 25%;
 text-align: center; */
 border-radius: 200px;
 display: inline-flex;
}

div.saveBtn {
  display: inline-flex;
  justify-content: center;
}

button.arrowbtn, button.heartbtn {
  color: #fff;
  background-color: #fff;
  border-color: #fff;

}

button.arrowbtn:hover, button.heartbtn:hover {
  background-image:none !important;
  background-color:#fff !important;
  border-color: #fff !important;
  border: 1px solid #fff;
}

button.arrowbtn:focus, button.heartbtn:focus {
  background-image:none !important;
  background-color:#fff !important;
  border-color: #fff !important;
  border: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(#e66465, #9198e5);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  padding-top: 25%;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(230, 228, 235, 0.3);
}

@media (min-width: 320px) {
 
  img.logopic{
    height: 300px;
  }
 
  img.heartpic, img.arrow {
    max-width: 30%;
  }

  .mainpage {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
  }

  .login-signupbtn {
    margin-top: 20%;
  }
}